body {
    font-family: Karla;
    margin: 0;
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.sidebar {
    margin: 0;
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    font-weight: bold;
    font-size: 24px;
    align-self: center;
    padding-top: 24px;
    white-space: nowrap;
}

.sidebar button {
    margin-top: 24px;
    padding: 16px;
    background-color: #D9F0D0;
    color: #68C242;
    width: 150px;
    align-self: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.sidebar button:hover {
    background-color: #68C242;
    color: #D9F0D0;
}

#close-icon {
    align-self: flex-end;
    padding-right: 16px;
}

.top-navbar {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    /* padding: 30px 50px 30px 50px; */
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

.top-navbar #logo {
    padding-left: 50px;
    padding-top: 30px;
}

.top-navbar div {
    display: flex;
    justify-content: space-evenly;
}

.top-navbar a {
    padding-top: 30px;
    display: inline-flex;
    align-items: center;
}

.top-navbar a img {
    padding-right: 10px;
}

.top-navbar button {
    padding: 16px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: #D9F0D0;
    color: #68C242;
    width: 150px;
    align-self: center;
    justify-self: flex-end;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.top-navbar button:hover {
    background-color: #68C242;
    color: #D9F0D0;
}